<div class="container">
    <p>当サイトは、漫画アプリで掲載されている漫画の一覧をまとめているウェブサイトです。現在、漫画：<%= @comics.count %>作品、マンガアプリ：<%= @applications.count %>つを掲載しています。</p>
      <div class="row">
        <% @applications.each do |application| %>
          <div class="col-md-4">
            <p><%= image_tag application.image.url , :size => "128x128" %></p>
            <p><%= link_to application.name , application_path(application.id) %></p>
            <%= link_to "iOSで読む", application.ioslink, class: 'btn btn-success' ,target: "_blank" %>
            <%= link_to "Androidで読む", application.androidlink, class: 'btn btn-success' ,target: "_blank" %>
          </div>
        <% end %>
      </div>
    <h2>新着作品</h2>
    <% @comics.each do |comic| %>

        <div class="col-md-3">
          <p><%= image_tag comic.image.url , :size => "128x128" %></p>
          <p><%= link_to comic.name , comic_path(comic.id) %></p>
          <% comic.applications.each do |f| %>
            <%= f.name %>
          <% end %>
        </div>
    <% end %>
</div>
