<h2>マンガアプリ</2>
<div class="container">
  <div class="row">
    <% @applications.each do |application| %>
    <div class="col-md-4">
      <p><%= image_tag application.image.url , :size => "128x128" %></p>
      <p><%= link_to application.name , application_path(application.id) %></p>
      <%= link_to "iOSで読む", application.ioslink, class: 'btn btn-default' ,target: "_blank" %>
      <%= link_to "Androidで読む", application.androidlink, class: 'btn btn-default' ,target: "_blank" %>
    </div>
    <% end %>
  </div>
</div>
<h2>新着作品</h2>
<% @comics.each do |comic| %>
<div class="row m-t-1">
  <div class="col-xs-10 bg-primary"><%= link_to comic.name , comic_path(comic.id) %></div>
</div>

<% end %>
